@font-face {
    font-family: opensans;
    src: url(../font/OpenSans-Light.ttf);
}
html{
  min-height: 100%;
}
body {
  font-family: opensans;
  font-size: 14px;
  line-height: 20px;
  background:
		url(../img/grain.png),
		-moz-linear-gradient(top, #D7D3C8 0%,#F6F4EC 100%);
}
.large {
  font-size: 72px;
  letter-spacing: -3px;
  line-height: 100%;
}
h1 {
  font-size: 48px;
  letter-spacing: -2px;
  line-height: 100%;
}
h2 {
  font-size: 32px;
  letter-spacing: -1px;
  line-height: 100%;
}
h3 {
  font-size: 28px;
  letter-spacing: -0.5px;
  line-height: 100%;
}
h4 {
  font-size: 24px;
  letter-spacing: -0.25px;
  line-height: 100%;
}
.small, small {
  font-size: 12px;
  line-height: 100%;
}
img{
  max-width: 100%;
}
/* Navbar */
nav{
  background-color:rgba(248, 248, 248, 0.45);
}
nav .brand-logo{
  color:#000;
}
nav ul a{
  color:#e4e4e4;
}

/* END | Navbar */

/* Video Background */

/* End | Video Background */

/* About US */

/* End | About US */

/* Organiser */

/* End | Organisers */

/* Speakers */

/* End | Speakers */

/* Sponsors */

/* End | Sponsors */


/* footer */
footer.page-footer{
  background-color: #D7D3C8 ;
}

/*  */
